<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>视觉工具</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Lookin_2D</string>
			<key>Key</key>
			<string>LGDebugLookin2DTools</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Lookin_3D</string>
			<key>Key</key>
			<string>LGDebugLookin3DTools</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Lookin_Export</string>
			<key>Key</key>
			<string>LGDebugLookinExport</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>帧率监控</string>
			<key>Key</key>
			<string>LGDebugFPSIndicator</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>通用工具</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>H5页面跳转</string>
			<key>File</key>
			<string>LGDebugWebview</string>
			<key>IASKViewControllerClass</key>
			<string>LGDebugWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Key</key>
			<string>LGDebugH5Jump</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>强力清空缓存</string>
			<key>Key</key>
			<string>LGDebugCleanCache</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>扩展配置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>自定义定制</string>
			<key>IASKViewControllerClass</key>
			<string>LGDebugCustomSettingViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Key</key>
			<string>LGDebugCustomSettings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>其它</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>关闭DEBUG调配组件</string>
			<key>Key</key>
			<string>LGDebugCloseDebug</string>
		</dict>
	</array>
</dict>
</plist>
